.todo-temp, .notification-msg {
	width:880px;
	padding:10px;
	background:red;
	color:white;
	margin:15px auto 10px auto;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size:14px;
	font-weight:normal;
	line-height: 22px;
}
.note-temp, .notification-msg {
	width:880px;
	padding:10px;
	background:green;
	color:white;
	margin:15px auto 10px auto;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size:14px;
	font-weight:normal;
	line-height: 22px;
}
.todo-temp span, .note-temp span, .notification-msg span {
	background: black;
	padding:2px 5px;
}
.temp h1 {
	max-width:900px;
	margin:5px auto;
	text-align: center;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
.temp h3 {
	max-width:900px;
	margin:5px auto;
	text-align: center;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
.welcome-page {
	text-align: center;
}
.welcome-page p b {
	color:red;
}
