html {
		overflow-y: scroll;
}
body {
		margin: 0px;
}
.clearfixplain {
		clear: both;
}
.clearfix:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
}
input, select, textarea {
		box-sizing: border-box;
}
input[type=checkbox], input[type=radio] {
		transform: scale(1.5, 1.5);
}
textarea {
		height: 70px;
		padding: 5px;
		border: 1px solid #ccc;
		border-radius: 5px;
}
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, textarea:focus {
/*border: 1px solid #8BB3F4;*/
-moz-appearance:none;
outline:0;
border: 1px solid #000000 !important;
border-radius: 3px;
	
}
::placeholder {
		color: rgba(255, 64, 0, 0.6);
}
/* remove buton styling */
button {
	background: none;
	border:0 !important;
	outline:0;
	padding:0 !important;
}
button:hover {
		cursor: pointer;
		color:#3c63a2;
}
/*TinyMCE buttons override */
.tox .tox-button {
	padding: 4px 10px !important;
}
/* delete links on lists */
a.KT_delete_link, a.KT_delete_op_link {
	color:red !important;
}
/* filter buttons */
button.reset_filter, button.filter_records {
	color:#aaa;
}
a.KT_delete_link:hover, a.KT_delete_op_link:hover, button.reset_filter:hover, button.filter_records:hover {
	color:#3c63a2 !important;
}
/* add, update, delete and cancel buttons on form pages */
input[name="KT_Insert1"], input[name="KT_Update1"], input[name="KT_Delete1"], input[name="KT_Cancel1"] {
	font-family: "Font Awesome 5 Pro" !important;
	font-size:3em !important;
	border:0;
	outline:0;
	background:transparent;
	margin:0 3px ;
	padding:0;

}
input[name="KT_Insert1"], input[name="KT_Update1"] {
	color:#555;
}
input[name="KT_Delete1"] {
	color:red;
}
input[name="KT_Cancel1"] {
	color:orange;
}
input[name="KT_Insert1"]:hover, input[name="KT_Update1"]:hover, input[name="KT_Delete1"]:hover, input[name="KT_Cancel1"]:hover {
	color:#3c63a2 !important;
	background: transparent;
	cursor: pointer;
}

/* Loading Modal Window */
#overlay {
		position: fixed;
		top: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.6);
		z-index: 5;
		width: 100%;
		height: 100%;
		display: none;
}
#loader-container {
		position: relative;
		height: 85px;
		width: 220px;
		background-color: #fff;
		box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.55);
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 99999999;
		border: 1px solid #333;
		border-radius: 5px;
}
@keyframes fadeIn {
	from { opacity: 1; }
}
#loader-container #loader-text {
		position: relative;
		top: 30px;
		margin-left: 85px;
		font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
		font-weight: lighter;
		font-size: 22px;
		color: #555;
		animation-delay: 2s;
		animation: fadeIn 1s infinite alternate;
}
	/* Center the login box */
.login-box-outer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.login-box {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	width: 360px;
	margin: 0 auto;
	border-radius: 10px;
	padding:25px;
	background: #fff;
	/*box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.35);*/
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-align: center;
	border: 2px solid #252A94;
}
.login-box .KT_buttons td, .login-box .KT_tngtable tr, .login-box td {
	background: #EDEFF3 !important;
	border: solid 1px #C2C9D8 !important;
  border-top-width: 0 !important;
  border-left-width: 0 !important; 
}
.login-box input {
	width:96% !important;
	margin: 5px;
}
.login-box .KT_buttons {
	border-bottom:none !important;
}
