/* Pure CSS Responsive Navigation */
.toggle, [id^=drop] {
		display: none;
}
/* Giving a background-color to the nav container. */
#nav-container {
		background: #3C63A2;
		width: 100%;
		text-align: center;
}
nav {
		display: inline-block;
		margin: 0 auto;
		padding: 0;
		text-align: left;
		background-color: #3C63A2;
		line-height: 32px;
		font-family: Arial, Helvetica, "sans-serif", "Gill Sans";
		word-wrap: break-word;
		width: auto;
}
/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */
nav:after {
		content: "";
		display: table;
		clear: both;
}
/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
		float: left;
		text-align: left;
		padding: 0 !important;
		margin: 0 auto;
		list-style: none;
		position: relative;
}
/* Positioning the navigation items inline */
nav ul li {
		margin: 0px;
		display: inline-block;
		float: left;
		background-color: #3C63A2;
}
/* Styling the links */
nav a {
		display: block;
		padding: 14px 20px;
		color: #FFF;
		font-size: 17px;
		text-decoration: none;
		outline: none;
}
nav ul li ul li:hover {
		background: #28426D;
}
/* Background color change on Hover */
nav a:hover {
		background-color: #28426D;
}
/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
		display: none;
		position: absolute;
		/* has to be the same number as the "line-height" of "nav a" */
		top: 60px;
		padding: 0;
}
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
		display: inherit;
}
/* Fisrt Tier Dropdown */
nav ul ul li {
		width: 200px;
		float: none;
		display: list-item;
		position: relative;
		z-index: 9999;
}
/* Second, Third and more Tiers
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
nav ul ul ul li {
		position: relative;
		top: -60px;
		/* has to be the same number as the "width" of "nav ul ul li" */
		left: 200px;
}
/* Change ' +' in order to change the Dropdown symbol */
li > a:after {
		/* content: ' +'; */
}
li > a:only-child:after {
		content: '';
}
@media all and (max-width : 768px) {
		#logo {
				display: block;
				padding: 0;
				width: 100%;
				text-align: center;
				float: none;
		}
		nav {
				margin: 0;
				width: 100%;
		}
		nav ul {
				padding: 0;
		}
		/* Hide the navigation menu by default */
		/* Also hide the  */
		.toggle + a, .menu {
				display: none;
		}
		/* Styling the toggle lable */
		.toggle {
				display: block;
				background-color: #3C63A2;;
				padding: 14px 20px 8px 20px;
				color: #FFF;
				font-size: 17px;
				text-decoration: none;
				border: none;
		}
		.toggle:hover {
				background-color: #28426D;
		}
		/* Display Dropdown when clicked on Parent Lable */
		[id^=drop]:checked + ul {
				display: block;
			  width:100%;
		}
		/* Change menu item's width to 100% */
		nav ul li {
				display: block;
				width: 100%;
		}
		nav ul ul .toggle, nav ul ul a {
				padding: 0 40px;
		}
		nav ul ul ul a {
				padding: 0 80px;
		}
		nav a:hover, nav ul ul ul a {
				background-color: #28426D;
		}
		nav ul li ul li .toggle, nav ul ul a, nav ul ul ul a {
				padding: 14px 20px;
				color: #FFF;
				font-size: 17px;
		}
		nav ul li ul li .toggle, nav ul ul a {
				background-color: #6189C9;
		}
		/* Hide Dropdowns by Default */
		nav ul ul {
				float: none;
				position: static;
				color: #ffffff;
				/* has to be the same number as the "line-height" of "nav a" */
		}
		/* Hide menus on hover */
		nav ul ul li:hover > ul, nav ul li:hover > ul {
				display: none;
		}
		/* Fisrt Tier Dropdown */
		nav ul ul li {
				display: block;
				width: 100%;
		}
		nav ul ul ul li {
				position: static;
				/* has to be the same number as the "width" of "nav ul ul li" */
		}
}
@media all and (max-width : 330px) {
		nav ul li {
				display: block;
				width: 94%;
		}
}

