.cookie-wraper {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
    box-shadow: 1px 1px 12px #000;
    padding: 30px 50px;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cookie-btn {
    background-color: #A81E22;
    color: #fff;
    padding: 10px 10px;
    border-radius: 5px;
    transition: 500ms;
}

.cookie-btn:hover{
    background-color: #23265B;
}

.hide {
    visibility: hidden;
    bottom: 0;
    right: 2em;
}

.show {
    visibility: visible;
    bottom: 0;
}

@media screen and (max-width: 600px) {
    .cookie-wraper {
        grid-template-columns: 1fr;
    }
    
    .right-side {
        flex-direction: row;
    }
}